<h1><%= t('customers.title') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('customer.name') %></th>
      <th><%= t('customer.discount') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.discount %></td>
        <td><%= link_to t('pumpkin.show'), customer %></td>
        <td><%= link_to t('pumpkin.edit'), edit_customer_path(customer) %></td>
        <td><%= link_to t('pumpkin.delete'), customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
